<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-notificationsconfigurationplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>NotificationsConfigurationPlugin</name><js-module name="NotificationsConfigurationPlugin" src="www/NotificationsConfigurationPlugin.js"><clobbers target="cordova.plugins.NotificationsConfigurationPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="NotificationsConfigurationPlugin"><param name="ios-package" value="NotificationsConfigurationPlugin" /></feature></config-file><source-file src="src/ios/NotificationsConfigurationPlugin.m" /></platform></plugin>
